<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Generator</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="assets/js files/paper-full.js"></script>
    <script type="text/paperscript" src="js/PaperScript.js" canvas="Canvas"> </script>
</head>

<body>
    <canvas id="Canvas" resize></canvas>
</body>

</html>