html,
body {
    margin: 0;
    height: 100%;
}


/* Scale canvas with resize attribute to full size */

canvas[resize] {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background-color: black;
    color: yellowgreen;
}

.custom {
    border-radius: 0 !important;
    margin: 0 !important;
    height: 10vh;
}

#main {
    position: relative;
}

.main-heading {
    text-align: center;
    position: absolute;
    font-size: 1rem;
    top: 40%;
    left: 10%;
}

img {
    height: 90vh;
    width: 100%;
    filter: brightness(70%);
    padding: 0;
    margin: 0;
}

button {
    border: none;
    border-radius: 2rem;
    background-color: black;
    color: whitesmoke;
}

a {
    display: block;
    text-decoration: none;
    padding: 1rem 3rem;
    color: whitesmoke !important;
}

.canvas-text {
    width: auto;
    min-height: 10vh;
    text-align: center;
    box-sizing: border-box;
    background-color: grey;
    position: relative;
    padding-top: 0.5vh;
}

.trigger {
    position: absolute;
    right: 1%;
    top: 10%;
}

@media only screen and (max-width: 810px) {
    img {
        display: none;
    }
}